.todo-container {
  width: 700px;
  
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
.incompleted-container {
  max-height: 500px; 
  width: 700px;
  overflow-y: scroll;
}

.completed-container {
  max-height: 500px; 
  width: 700px;

  overflow-y: scroll; 
}

.todo-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #218838;
}

.no-todos {
  text-align: center;
  color: #777;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.todo-list li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.todo-list h3 {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.todo-list h3:hover {
  color: #0056b3;
}

.todo-list p {
  margin: 5px 0;
  color: #555;
}

.todo-list button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-list button:hover {
  background-color: #c82333;
}

.todo-list .completed {
  text-decoration: line-through;
  color: #888;
}

.todo-list .completed h3 {
  color: #888;
}
