<div class="todo-container">
    <h2>My Todo List</h2>
    <div *ngIf="todoItems.length === 0" class="no-todos">
      <p>No todo items available.</p>
    </div>
   
    <button class="button" (click) = "addTodo()"></button>
    <ul class="todo-list">
      <li *ngFor="let item of todoItems" [ngClass]="{ completed: item.isCompleted }" (click)="goToDetail(item.id)">
        <h3>{{ item.title }}</h3>
        <p><strong>Detail:</strong> {{ item.detail }}</p>
        <p><strong>Priority:</strong> {{ item.priority }}</p>
        <p><strong>Created on:</strong> {{ item.createDate | date:'dd/MM/yyyy'}}<dd>
       </p>
      </li>
    </ul>
    
  </div>
  